@import "tailwindcss";

:root {
  --background: #f3f1ff;
  --foreground: #212121;
  --primary: #3a1bff;
  --secondary: #ffffff;
  --stroke: #eeeeee;
  --card: #f2f2f2;
  --skeleton: #ececec;
  --muted: #757575;
  --gradient-color-1: #043af9;
  --gradient-color-2: #ff86f6;
  --gradient-color-3: #ffd08d;
}

.dark {
  --background: #00021c;
  --foreground: #ffffff;
  --primary: #0e7dfd;
  --secondary: #121426;
  --stroke: #21255f;
  --card: #161948;
  --skeleton: #161948;
  --muted: #575ca7;
  --gradient-color-1: #043af9;
  --gradient-color-2: #ff86f6;
  --gradient-color-3: #ffd08d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-stroke: var(--stroke);
  --color-card: var(--card);
  --color-skeleton: var(--skeleton);
  --color-muted: var(--muted);
  --color-gradient-1: var(--gradient-color-1);
  --color-gradient-2: var(--gradient-color-2);
  --color-gradient-3: var(--gradient-color-3);
  --font-poppins: var(--font-poppins);
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
  }

  body {
    overflow: hidden;
    scroll-behavior: smooth;
  }
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1rem;
  }

  @variant lg {
    padding-inline: 2rem;
  }

  @variant xl {
    padding-inline: 4rem;
  }

  @variant 2xl {
    padding-inline: 5rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
